.employee__overview {
  padding: 60px;
  h1 {
    margin-bottom: 2em;
  }
  .subordinates {
    h2 {
      margin-bottom: 2em;
    }
    strong {
      margin-left: 10px;
    }
    margin-top: 2em;
  }
}
